language: julia
os:
    - linux
julia:
    - 1.2
    - nightly
matrix:
  allow_failures:
    - julia: nightly
env:
  - JULIA_PROJECT="@."
notifications:
    email: false
after_success:
  - julia -e '(ENV["TRAVIS_JULIA_VERSION"] != "1.2" || ENV["TRAVIS_OS_NAME"] != "linux") && exit(); using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'